.aboutSection {
    position: relative;
    display: flex;
    align-items: flex-start;
    background-color: var(--Background-color-secondary);
    justify-content: space-between;
    padding: 8rem 5%;
    gap: 2rem;
}

.textabout {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
}

.aboutSection h2 {
    color: var(--color-text-h2);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.aboutSection h3 {
    font-size: 1.2rem;
    color: var(--color-text-black);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.aboutSection p {
    color: var(--color-text-p);
    line-height: 1.6;
    font-size: 1.1rem;
    width: 90%;
    margin-bottom: 1.5rem;
}

.bold {
    font-weight: bold;
    color: var(--color-text-h2);
}

.cardsAbout {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 1.5rem;
    list-style: none;
    padding: 5rem;
}

.cardsAbout li {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.4);
    border: 1.5px solid var(--color-border-header);
    box-shadow: var(--box-shadow-color);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: var(--color-text-p);
    grid-column: span 1;
}

.cardsAbout li h4 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: var(--color-text-h2);
}

.cardsAbout li p {
    font-size: 0.9rem;
    color: var(--color-text-p);
}

.cardsAbout li:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid var(--Primary-color, #000);
}

.cvCardContainer {
    grid-column: 1 / 5;
    grid-row: 1 / 3 ;
    padding: 0 ;
    overflow: hidden;
    display: flex ;
    flex-direction: column ;
    background: white ;
    cursor: pointer;
}

.cvLink {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cvImageWrapper {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.cvImage{
    width: 250px;
    height: 450;
    object-fit: cover;
    display: block;
}

.cvText {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1300px) {
    .cardsAbout {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .cvCardContainer {
        grid-column: span 2;
        grid-row: auto ;
        min-height: 300px;
    }
}

@media (max-width: 900px) {
    .aboutSection {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 4rem 5%;
    }

    .textabout {
        width: 100%;
        align-items: center;
    }

    .aboutSection p {
        width: 100%;
    }

    .cardsAbout {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .cvCardContainer {
        grid-column: span 1 !important;
    }
}