.contactSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 8rem; 
  padding-bottom: 3.125rem;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  background-color: var(--Background-color-secondary);
}

.formCard {
  background-color: var(--background-color-form);
  backdrop-filter: blur(10px);
  border: 0.0625rem solid var(--color-border-header);
  border-radius: 0.9375rem;
  padding: 1.875rem;
  width: 100%;
  max-width: 28.125rem;
  box-shadow: var(--box-shadow-color);
}

.formCard h2 {
  color: var(--color-text-h2);
  margin-bottom: 0.625rem;
  font-size: 1.5rem;
}

.formCard p {
  color: #444;
  margin-bottom: 1.25rem;
  font-size: 1rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.contactForm label {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.3125rem;
  text-align: left;
  color: var(--color-text-h2);
}

.contactForm input, 
.contactForm textarea {
  padding: 0.625rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #ddd;
  background: white;
  margin-bottom: 0.9375rem;
  font-family: inherit;
  color: var(--color-text-black);
}

.categoryGroup {
  text-align: left;
  margin-bottom: 1.25rem;
}

.categoryGroup p {
  font-weight: bold;
  font-size: 0.875rem;
  margin-bottom: 0.3125rem;
}

.radioOptions {
  display: flex;
  gap: 1.25rem;
}

.radioOptions label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-bottom: 0;
}

.sendButton {
  background-color: var(--color-accent);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sendButton:hover {
  background-color: var(--color-btn-bg-hover);
  color: var(--color-accent);
  border: 0.0625rem solid var(--color-accent);
}

@media (max-width: 1200px) {
    .contactSection {
        padding-top: 5rem;
    }
    .formCard h2 {
        font-size: 1.25rem;
    }
}

@media (max-width: 900px) {
  .contactSection {
    padding-top: 4rem;
    flex-direction: column;
    align-items: center;
  }

  .formCard {
    width: 100%;
    max-width: 100%;
    padding: 1.25rem;
  }

  .radioOptions {
    justify-content: center;
  }
  
  .sendButton {
    width: 100%;
  }
}